@keyframes swing {
    0% {
      transform: rotate(30deg);
    }
  
    5% {
      transform: rotate(-30deg);
    }
  
    10% {
      transform: rotate(15deg);
    }
  
    14% {
      transform: rotate(-15deg);
    }
  
    18% {
      transform: rotate(0);
    }
  }