
$primary-text-color: #ffffff;
$title-text-color: #d41443;
$secondary-title-color: #ffa5ba;
$default-text-color: #000000;
$secondary-text-color: #907e82;
$accent-color: #d41443;
$background-lightpink: #fff5f6;
$background-white: #ffffff;
$background-header-pink: #ffb8ca;
$background-mobile: #e17992;
$hover-color: #c7133e;
$social-icon-color: #FEA5BB;
$footer-line-color: #E1E1E1;
$btn-hover: #ecebeb;



//==Шрифты==//
$primary-font: DM Sans, sans-serif;
$brand-font: Titan One, cursive;

$background-color-menu: #E17992;
$border-menu-color: #E18298;