<!-- Advantages - MykolaPom -->
<section class="section section-advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">ADVANTAGES</h2>

    <ul class="advantages-list">
      <li class="advantages-list__item milk-logo">
        <h3 class="advantages-list__title">721</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item fruits-logo">
        <h3 class="advantages-list__title">16KG</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item heart-logo">
        <h3 class="advantages-list__title">84</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>