<!-- Advantages - MykolaPom -->
<section class="section section-advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">ADVANTAGES</h2>

    <ul class="advantages-list">
      <li class="advantages-list__item">
        <h3 class="advantages-list__title milk-logo counter" data-value="721">0</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <h3 class="advantages-list__title fruits-logo" id="measure"><span
            class="counter" data-value="16" data-inviewport="count">0</span>kg</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <h3 class="advantages-list__title heart-logo counter" data-value="84" data-inviewport="count">0</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>