<!-- Advantages - MykolaPom -->
<section class="section section-advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">ADVANTAGES</h2>
    <div class="advantages-box milk-logo">
      <h3 class="advantages-box__title">721</h3>
      <p class="advantages-box__text">
        Aliquam ac dui vel dui vulputate <br />
        consectetur. Mauris massa.
      </p>
    </div>
    <div class="advantages-box fruits-logo">
      <h3 class="advantages-box__title">16KG</h3>
      <p class="advantages-box__text">
        Aliquam ac dui vel dui vulputate <br />
        consectetur. Mauris massa.
      </p>
    </div>
    <div class="advantages-box heart-logo">
      <h3 class="advantages-box__title">84</h3>
      <p class="advantages-box__text">
        Aliquam ac dui vel dui vulputate <br />
        consectetur. Mauris massa.
      </p>
    </div>
  </div>
</section>
