<!-- Contacts - Natalia Davydenko -->
<section class="section contacts-section">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts">
      <li class="contacts__item">
        <div class="category">
          <p class="category__name">Cafe</p>
        </div>
        <ul class="location">
          <li class="location__item">
            <p class="location__name">Chicago</p>
            <p class="location__description">
              Fusce ut velit laoreet, tempus <br />
              arcu molestie vulputate
            </p>
          </li>
          <li class="schedule">
            <ul class="weekday-schedule">
              <li class="weekday-schedule__item">
                <p class="weekday-schedule__days">Monday - Friday</p>
                <p class="weekday-schedule__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="day-of-schedule">
                <p class="day-of-schedule__days">Saturday - Sunday</p>
                <p class="day-of-schedule__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="communication">
            <ul class="contact-details">
              <li class="contact-details__item">
                <a class="contact-details__link" href="tel:+61(0)383766284 "
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contact-details__item">
                <a
                  class="contact-details__link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="category category--green">
          <p class="category__name">Foodtruck</p>
        </div>
        <ul class="location">
          <li class="location__item">
            <p class="location__name">Los Angeles</p>
            <p class="location__description">
              Fusce ut velit laoreet, tempus <br />
              arcu molestie vulputate
            </p>
          </li>
          <li class="schedule">
            <ul class="weekday-schedule">
              <li class="weekday-schedule__item">
                <p class="weekday-schedule__days">Monday - Friday</p>
                <p class="weekday-schedule__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="day-of-schedule">
                <p class="day-of-schedule__days">Saturday - Sunday</p>
                <p class="day-of-schedule__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="communication">
            <ul class="contact-details">
              <li class="contact-details__item">
                <a class="contact-details__link" href="tel:+61(0)383766284 "
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contact-details__item">
                <a
                  class="contact-details__link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="category">
          <p class="category__name">Cafe</p>
        </div>
        <ul class="location">
          <li class="location__item">
            <p class="location__name">New York</p>
            <p class="location__description">
              Fusce ut velit laoreet, tempus <br />
              arcu molestie vulputate
            </p>
          </li>
          <li class="schedule">
            <ul class="weekday-schedule">
              <li class="weekday-schedule__item">
                <p class="weekday-schedule__days">Monday - Friday</p>
                <p class="weekday-schedule__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="day-of-schedule">
                <p class="day-of-schedule__days">Saturday - Sunday</p>
                <p class="day-of-schedule__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="communication">
            <ul class="contact-details">
              <li class="contact-details__item">
                <a class="contact-details__link" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contact-details__item">
                <a
                  class="contact-details__link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <button class="locations-btn btn" type="button">
      <span class="location-btn_name">Our Locations</span>
      <svg
        class="location-btn__icon"
        width="6"
        height="10"
        viewBox="0 0 6 10"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.999969 1L4.61032 5L0.999969 9"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button class="franchise-btn btn" type="button">
      <span class="franchise-btn__name">Franchise</span>
      <svg
        class="franchise-btn__icon"
        width="7"
        height="10"
        viewBox="0 0 7 10"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.42041 1L5.70162 5L1.42041 9"
          stroke="#D41443"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</section>
