<!-- Contacts - Natalia Davydenko -->
<section class="section contacts-section" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts">
      <li class="contacts__item">
        <div class="category">
          <p class="category__name">Cafe</p>
        </div>
        <ul class="location">
          <li class="location__item">
            <p class="location__name">Chicago</p>
            <p class="location__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="schedule">
            <ul class="weekday-schedule">
              <li class="weekday-schedule__item">
                <p class="weekday-schedule__days">Monday - Friday</p>
                <p class="weekday-schedule__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="day-of-schedule">
                <p class="day-of-schedule__days">Saturday - Sunday</p>
                <p class="day-of-schedule__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="communication">
            <ul class="contact-details">
              <li class="contact-details__item">
                <a class="contact-details__link" href="tel:+61(0)383766284 "
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contact-details__item">
                <a
                  class="contact-details__link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="category category--green">
          <p class="category__name">Foodtruck</p>
        </div>
        <ul class="location">
          <li class="location__item">
            <p class="location__name">Los Angeles</p>
            <p class="location__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="schedule">
            <ul class="weekday-schedule">
              <li class="weekday-schedule__item">
                <p class="weekday-schedule__days">Monday - Friday</p>
                <p class="weekday-schedule__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="day-of-schedule">
                <p class="day-of-schedule__days">Saturday - Sunday</p>
                <p class="day-of-schedule__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="communication">
            <ul class="contact-details">
              <li class="contact-details__item">
                <a class="contact-details__link" href="tel:+61(0)383766284 "
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contact-details__item">
                <a
                  class="contact-details__link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="category">
          <p class="category__name">Cafe</p>
        </div>
        <ul class="location">
          <li class="location__item">
            <p class="location__name">New York</p>
            <p class="location__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="schedule">
            <ul class="weekday-schedule">
              <li class="weekday-schedule__item">
                <p class="weekday-schedule__days">Monday - Friday</p>
                <p class="weekday-schedule__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="day-of-schedule">
                <p class="day-of-schedule__days">Saturday - Sunday</p>
                <p class="day-of-schedule__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="communication">
            <ul class="contact-details">
              <li class="contact-details__item">
                <a class="contact-details__link" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="contact-details__item">
                <a
                  class="contact-details__link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts-btn">
    <button class="locations-btn btn" type="button">
      <span class="location-btn__name">Our Locations</span> >
    </button>
    <button class="franchise-btn btn" type="button">
      <span class="franchise-btn__name">Franchise</span> >
    </button>
    </div>
  </div>
</section>
