<footer class="footer">
  <div class="container">
    <div class="wrap">
      <div class="footer__wrap">
        <p class="footer__subtitle">Homemade ice cream made</p>
        <h2 class="footer__title">With passion</h2>
      </div>
      <div class="footer__addwrap">
        <ul class="icons__list">
          <li class="icons__item">
            <span class="tooltip">Github</span>
            <a href="https://github.com/" target="_blank" class="icons__link">
              <svg class="icons__svg" width="32" height="32">
                <use href="./image/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="icons__item">
            <span class="tooltip tooltip--telegram">Telegram</span>
            <a href="https://telegram.org/" target="_blank" class="icons__link">
              <svg class="icons__svg" width="32" height="32">
                <use href="./image/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="icons__item">
            <span class="tooltip tooltip--facebook">Facebook</span>
            <a
              href="https://uk-ua.facebook.com/"
              target="_blank"
              class="icons__link"
            >
              <svg class="icons__svg" width="32" height="32">
                <use href="./image/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <a href="tel:+61(0)383766284" class="footer__tel">
          <span class="footer__accent">Feel free to contact</span>
          +61 (0) 383 766 284</a
        >
      </div>
    </div>
  </div>
  <div class="footer__rigths">
    <p class="footer__info">&copy; 2022 - IceCream.</p>
    <p class="footer__info">All Rights Reserved.</p>
  </div>
</footer>
