<section class="gallery" id="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="gallery__grig grid-container">
    <div class="gallery__item-1 gallery__item-animation">
      <picture class="gallery__img">
        <source
          srcset="
            ./images/gallery/img1_m.png    1x,
            ./images/gallery/img1_m@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="./images/gallery/img1_m.png"
          alt="foto_1"
          class="gallery__img"
        />
      </picture>
    </div>
    <div class="gallery__item-2 gallery__item-animation">
      <picture class="gallery__img">
        <source
          srcset="
            ./images/gallery/img2_m.png    1x,
            ./images/gallery/img2_m@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="./images/gallery/img2_m.png"
          alt="foto_1"
          class="gallery__img"
        />
      </picture>
    </div>
    <div class="gallery__item-3 gallery__item-animation">
      <picture class="gallery__img">
        <source
          srcset="
            ./images/gallery/img3_m.png    1x,
            ./images/gallery/img3_m@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="./images/gallery/img3_m.png"
          alt="foto_1"
          class="gallery__img"
        />
      </picture>
    </div>
    <div class="gallery__item-4 gallery__item-animation">
      <picture class="gallery__img">
        <source
          srcset="
            ./images/gallery/img4_m.png    1x,
            ./images/gallery/img4_m@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="./images/gallery/img4_m.png"
          alt="foto_1"
          class="gallery__img"
        />
      </picture>
    </div>
    <div class="gallery__item-5 gallery__item-animation">
      <picture class="gallery__img">
        <source
          srcset="
            ./images/gallery/img5_m.png    1x,
            ./images/gallery/img5_m@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="./images/gallery/img5_m.png"
          alt="foto_1"
          class="gallery__img6"
        />
      </picture>
    </div>
    <div class="gallery__item-6 gallery__item-animation">
      <picture class="gallery__img">
        <source
          srcset="
            ./images/gallery/img6_m.png    1x,
            ./images/gallery/img6_m@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />

        <img
          src="./images/gallery/img6_m.png"
          alt="foto_1"
          class="gallery__img"
        />
      </picture>
    </div>
    <div class="gallery__item-7 gallery__item-animation">
      <picture class="gallery__img">
        <source
          srcset="
            ./images/gallery/img7_m.png    1x,
            ./images/gallery/img7_m@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="./images/gallery/img7_m.png"
          alt="foto_1"
          class="gallery__img"
        />
      </picture>
    </div>
    <div class="gallery__item-8 gallery__item-animation">
      <picture class="gallery__img">
        <source
          srcset="
            ./images/gallery/img8_m.png    1x,
            ./images/gallery/img8_m@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="./images/gallery/img8_m.png"
          alt="foto_1"
          class="gallery__img"
        />
      </picture>
    </div>
    <div class="gallery__item-9 gallery__item-animation">
      <picture class="gallery__img">
        <source
          srcset="
            ./images/gallery/img9_m.png    1x,
            ./images/gallery/img9_m@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="./images/gallery/img9_m.png"
          alt="foto_1"
          class="gallery__img"
        />
      </picture>
    </div>
    <div class="gallery__item-10 gallery__item-animation">
      <picture class="gallery__img">
        <source
          srcset="
            ./images/gallery/img10_m.png    1x,
            ./images/gallery/img10_m@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="./images/gallery/img10_m.png"
          alt="foto_1"
          class="gallery__img"
        />
      </picture>
    </div>
  </div>
</section>
