<header class="header" id="header">
  <div class="header__mobile container">
    <a href="#" class="header__logo">
      <svg width="199" height="50" class="logo-icon">
        <use href="./image/sprite.svg#logo"></use>
      </svg>
    </a>
    <button type="button" class="menu-button menu-button__open">
      <svg width="20" height="12" class="menu-button__burger">
        <use href="./image/sprite.svg#menu-burger"></use>
      </svg>
    </button>
  </div>

  <div class="header__menu">
    <div class="header__inner">
      <button type="button" class="menu-button menu-button__close">
        <svg width="14" height="14" class="menu-button__burger">
          <use href="./image/sprite.svg#menu-close"></use>
        </svg>
      </button>
      <button type="button" class="menu-button__buy">
        Buy now <span>></span>
      </button>
    </div>

    <nav>
      <ul class="nav">
        <li class="nav__list">
          <a class="nav__link nav__link--selection js1" href="#header">Home</a>
        </li>
        <li class="nav__list">
          <a class="nav__link js2" href="#reviews">About us</a>
        </li>
        <li class="nav__list">
          <a class="nav__link js3" href="#advantages">How it's made?</a>
        </li>
        <li class="nav__list">
          <a class="nav__link js4" href="#gallery">Our products</a>
        </li>
        <li class="nav__list">
          <a class="nav__link js5" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <section class="hero">
    <div class="container hero__container">
      <div class="hero__circle">
        <div class="hero__image">
          <picture>
            <source
              srcset="
                ./image/hero-icecream@1x.png 1x,
                ./image/hero-icecream@2x.png 2x
              "
            />
            <img src="./image/hero-icecream@1x.png" alt="Icecream" />
          </picture>
        </div>
      </div>
      <div class="hero__space">
        <h1 class="hero__title">
          Ice cream
          <p>made with</p>
          <p class="hero__title hero__title--accent">passion</p>
        </h1>

        <a href="#products">             
          <button type="button" class="ice-cream-btn">Products</button>
        </a>
        <a href="#about">
          <button type="button" class="ice-cream-btn ice-cream-btn--secondary">
            How it's made?
          </button>
        </a>
      </div>
    </div>
  </section>
</main>
