
  <section class="hero">
    <div class="container hero__container">
      <div class="hero__circle">
        <div class="hero__image">
          <picture>
            <source srcset="
                ./images/header-hero/hero-icecream-desktop@1x.png 1x,
                ./images/header-hero/hero-icecream-desktop@2x.png 2x" media="(min-width:1200px)" />
            <source srcset="
                ./images/header-hero/hero-icecream-table@1x.png 1x,
                ./images/header-hero/hero-icecream-table@2x.png 2x
                " media="(min-width:768px)" />
                            
            <source srcset="
                ./images/header-hero/hero-icecream@1x.png 1x,
                ./images/header-hero/hero-icecream@2x.png 2x
              " media="(max-width: 767px)" />

           
            
            <img src="./images/header-hero/hero-icecream@1x.png" alt="Icecream" />
          </picture>
        </div>
      </div>
      <div class="hero__space">
        <h1 class="hero__title">
          Ice cream <br />
          made with <br />
          <span class="hero__title hero__title--accent">passion</span>
        </h1>
        <ul class="hero__buttons-list">
          <li class="hero__buttons-list__inner button__animation"><a href="#products" class="button"> Products </a></li>
          <li class="hero__buttons-list__inner button__animation"><a href="#about" class="button button--secondary">
              How it's made?
            </a></li>
        </ul>
      </div>
      <div class="hero__milk">
        <picture>
         
          <source srcset="
              ./images/header-hero/hero-milk-desktop@1x.png 1x,
              ./images/header-hero/hero-milk-desktop@2x.png 2x" media="(min-width:1200px)" />
<source srcset="
              ./images/header-hero/hero-milk-table@1x.png 1x,
              ./images/header-hero/hero-milk-table@2x.png 2x" media="(min-width:768px)"  />
          <img src="./images/header-hero/hero-milk-table@1x.png" alt="Milk" />
        </picture>
      </div>
      <div class="hero__text">
        <div class="hero__text-inner">
          <p>
            Lorem ipsum dolor sit amet, <br />
            consectetur adipiscing elit, <br />
            sed do eiusmod tempor <br />
            incididunt ut labore et
          </p>
          <p class="js-hero__text-inner text-hidden">
            Lorem ipsum dolor sit amet, <br />
            consectetur adipiscing elit, <br />
          </p>
        </div>

        <button type="button" class="hero__text-button">

          <svg class="products__icon" width="8" height="8">
            <use class="hero__icon-up icon-hidden" href="./images/products/symbol-defs.svg#icon-arrow-up"></use>
            <use class="hero__icon-down" href="./images/products/symbol-defs.svg#icon-arrow-down"></use>
          </svg>
        </button>
      </div>
      <div class="hero__girl">
        <picture>
          <source srcset="
            ./images/header-hero/hero-girl-desktop@1x.png 1x,
            ./images/header-hero/hero-girl-desktop@2x.png 2x
              " media="(min-width:1200px)" />
          <source srcset="
              ./images/header-hero/hero-girl-table@1x.png 1x,
              ./images/header-hero/hero-girl-table@2x.png 2x
            " media="(min-width:768px)" />
         
          <img src="./images/header-hero/hero-girl-table@1x.png" alt="Girl with icecream" />
        </picture>
      </div>
      <div class="hero__franchise">
        <div class="hero__franchise-cafes">
          <p class="hero__franchise-title">16</p>
          <p class="hero__franchise-text">cafes</p>
          <div class="hero-franchise-circle"></div>
        </div>
        <div class="hero__franchise-cafes">
          <p class="hero__franchise-title">23</p>
          <p class="hero__franchise-text">food trucks</p>
          <div class="hero-franchise-circle"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="backdrop is-hidden"></div>
