<section class="section">
    <div class="container">
        <h2 class="section__title"></h2>
        <ul class="products">
            <li class="products__item">
                <div class="products__box products__box--pink">
                    <h3 class="products__title">ice cream</h3>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="products__btn" type="button">
                        <svg class="products__btn-icon">
                            <use></use>
                        </svg>
                    </button>
                </div>
                <div class="products__box products__box--pich">
                    <h3 class="products__title">ice cream</h3>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="products__btn" type="button">
                        <svg class="products__btn-icon">
                            <use></use>
                        </svg>
                    </button>
                </div>
                <div class="products__box products__box--mint">
                    <h3 class="products__title">ice cream</h3>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="products__btn" type="button">
                        <svg class="products__btn-icon">
                            <use></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>



 