<section class="section section--padding-top" id="gallery">
    <div class="container">
        <p class="section__subtitle">100% natural</p>
        <h2 class=" section__title section__title--mardgin ">products</h2>
        <ul class="products" >
            <li class="products__item products__item--pink">
                <div class="products__thumb products__thumb--pink "></div>
                <h3 class="products__title">ice cream</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <div class="products-box">
                    <h4 class="products-box__title">ingredients</h4>
                    <ul class="products-box__list">
                        <li><p class="products-box__text">milk</p></li>
                        <li><p class="products-box__text">cream</p></li>
                        <li><p class="products-box__text">butter</p></li>
                        <li><p class="products-box__text">eggs</p></li>
                        <li><p class="products-box__text">fruits</p></li>
                        <li><p class="products-box__text">coffee</p></li>
                        <li><p class="products-box__text">delicious</p></li>
                    </ul>
                </div>
                <button class="products__btn" type="button" aria-label="products read more">
                    <svg class="products__icon" width="14" height="14">
                        <use class="products__icon-down" href="./images/products/symbol-defs.svg#icon-arrow-down"></use>
                        <use class="products__icon-up" href="./images/products/symbol-defs.svg#icon-arrow-up"></use>
                    </svg>    
                </button>
            </li>  
            <li class="products__item products__item--pich">
                <div class="products__thumb products__thumb--pich"></div>
                <h3 class="products__title  products__title--pich">ice coffee</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button class="products__btn" type="button" aria-label="products read more">
                    <svg class="products__icon" width="14" height="14">
                        <use href="./images/products/symbol-defs.svg#icon-arrow-down" ></use>
                    </svg>
                </button>
            </li>
            <li class="products__item products__item--mint">
                <div class="products__thumb products__thumb--mint"></div>
                <h3 class="products__title">milkshakes</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button class="products__btn" type="button" aria-label="products read more">
                    <svg class="products__icon" width="14" height="14">
                        <use href="./images/products/symbol-defs.svg#icon-arrow-down" ></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>



 