<!-- Reviews - Ghozzty -->
<section class="section section--reveiws">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="customer-card">
            <li class="customer-card__item">
              <img
                class="customer-card__foto"
                srcset="
                  /src/images/reviews/reviews-1.jpg    1x,
                  /src/images/reviews/reviews-1@2x.jpg 2x
                "
                src="/src/images/reviews/reviews-1.jpg"
                alt="foto"
              />
            </li>
            <li class="customer-card__item">
              <p class="customer-card__review">
                <span class="customer-card__high-level">Nullam</span> viverra
                consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
                primis in nibh vel risus.
              </p>
            </li>
            <li class="customer-card__item">
              <p class="customer-card__data">Emily, Los Angeles</p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="customer-card">
            <li class="customer-card__item">
              <img
                class="customer-card__foto"
                srcset="
                  /src/images/reviews/reviews-2.jpg    1x,
                  /src/images/reviews/reviews-2@2x.jpg 2x
                "
                src="/src/images/reviews/reviews-2.jpg"
                alt="foto"
              />
            </li>
            <li class="customer-card__item">
              <p class="customer-card__review">
                <span class="customer-card__high-level">Nullam</span> viverra
                consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
                primis in nibh vel risus.
              </p>
            </li>
            <li class="customer-card__item">
              <p class="customer-card__data">Yoko, New York</p>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="customer-card">
            <li class="customer-card__item">
              <img
                class="customer-card__foto"
                srcset="
                  /src/images/reviews/reviews-3.jpg    1x,
                  /src/images/reviews/reviews-3@2x.jpg 2x
                "
                src="/src/images/reviews/reviews-3.jpg"
                alt="foto"
              />
            </li>
            <li class="customer-card__item">
              <p class="customer-card__review">
                <span class="customer-card__high-level">Nullam</span> viverra
                consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
                primis in nibh vel risus.
              </p>
            </li>
            <li class="customer-card__item">
              <p class="customer-card__data">Jennifer, Chicago</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
