<article class="section section--padding-top" id="reviews">
  <h2 class="visually-hidden">Customer Reviews</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <ul class="customer-card">
          <li class="customer-card__item">
            <img
              class="customer-card__foto"
              srcset="
                /src/images/reviews/fedor.jpg    1x,
                /src/images/reviews/fedor@2x.jpg 2x
              "
              src="/src/images/reviews/fedor.jpg"
              alt="foto"
            />
          </li>
          <li class="customer-card__item">
            <p class="customer-card__review">
              <span class="customer-card__high-level">Морозиво</span> дуже
              смачне! Від кількості смаків голова пішла обертом. Більш за всіх
              мені сподобалось зі смаком манго та полуниці. Всім раджу відвідати
              крамницю та обрати свій улюблений смак!
            </p>
          </li>
          <li class="customer-card__item">
            <p class="customer-card__data">Федір, Запоріжжя</p>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="customer-card">
          <li class="customer-card__item">
            <img
              class="customer-card__foto"
              srcset="
                /src/images/reviews/KryvtsovaOlena.jpg    1x,
                /src/images/reviews/KryvtsovaOlena@2x.jpg 2x
              "
              src="/src/images/reviews/KryvtsovaOlena.jpg"
              alt="foto"
            />
          </li>
          <li class="customer-card__item">
            <p class="customer-card__review">
              <span class="customer-card__high-level">Яскраві</span> спогади
              дитинства, коли тато веде за руку до магазину, за морозивом і ти
              пам’ятаєшь той смак як сьогодні. Чудово знову відчути смак
              дитинства!
            </p>
          </li>
          <li class="customer-card__item">
            <p class="customer-card__data">Олена, Київ</p>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="customer-card">
          <li class="customer-card__item">
            <img
              class="customer-card__foto"
              srcset="
                /src/images/reviews/MykolaPom.jpg    1x,
                /src/images/reviews/MykolaPom@2x.jpg 2x
              "
              src="/src/images/reviews/MykolaPom.jpg"
              alt="foto"
            />
          </li>
          <li class="customer-card__item">
            <p class="customer-card__review">
              <span class="customer-card__high-level">Вперше</span> куштую
              морозиво з ягідним желеподібним наповнювачем. Дуже цікава ідея
              джем перетворити у желе в морозиві. Рекомендую спробувати усім,
              хто полюбляє морозво з вишнею чи полуницею))
            </p>
          </li>
          <li class="customer-card__item">
            <p class="customer-card__data">Микола, Вінниця</p>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="customer-card">
          <li class="customer-card__item">
            <img
              class="customer-card__foto"
              srcset="
                /src/images/reviews/nata2721.jpg    1x,
                /src/images/reviews/nata2721@2x.jpg 2x
              "
              src="/src/images/reviews/nata2721.jpg"
              alt="foto"
            />
          </li>
          <li class="customer-card__item">
            <p class="customer-card__review">
              <span class="customer-card__high-level">Вітаю,</span> уся наша
              родина є Вашими постійними клієнтами. Ваше морозиво ми куштуємо
              все літо, а мілкшейк є улюбленим коктейлем нашої донечки. Дякуємо
              за Вашу працю.
            </p>
          </li>
          <li class="customer-card__item">
            <p class="customer-card__data">Наталія, Бровари</p>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="customer-card">
          <li class="customer-card__item">
            <img
              class="customer-card__foto"
              srcset="
                /src/images/reviews/Mykhailo.jpg    1x,
                /src/images/reviews/Mykhailo@2x.jpg 2x
              "
              src="/src/images/reviews/Mykhailo.jpg"
              alt="foto"
            />
          </li>
          <li class="customer-card__item">
            <p class="customer-card__review">
              <span class="customer-card__high-level">Коштував </span>весь
              асортимент. Найбільш зайшло морозиво з Хедерем та Героєм, а якщо
              додати зверху трохи JS, взагалі смакота. Всім раджу!
            </p>
          </li>
          <li class="customer-card__item">
            <p class="customer-card__data">Михайло, Кам'янське</p>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="customer-card">
          <li class="customer-card__item">
            <img
              class="customer-card__foto"
              srcset="
                /src/images/reviews/KL-ML.jpg    1x,
                /src/images/reviews/KL-ML@2x.jpg 2x
              "
              src="/src/images/reviews/KL-ML.jpg"
              alt="foto"
            />
          </li>
          <li class="customer-card__item">
            <p class="customer-card__review">
              <span class="customer-card__high-level">Обожнюю </span>морозиво!!
              Ванільне, з шоколадною посипкою, і горішками, і шматочки фруктів.
              Їла б і їла кожен день. Таке холодненьке, смачненьке. А ще
              натуральне. Ням!!! Замовляю для всієї родини!
            </p>
          </li>
          <li class="customer-card__item">
            <p class="customer-card__data">Наталія, Київ</p>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="customer-card">
          <li class="customer-card__item">
            <img
              class="customer-card__foto"
              srcset="
                /src/images/reviews/natali.jpg    1x,
                /src/images/reviews/natali@2x.jpg 2x
              "
              src="/src/images/reviews/natali.jpg"
              alt="foto"
            />
          </li>
          <li class="customer-card__item">
            <p class="customer-card__review">
              <span class="customer-card__high-level">Це однозначно</span>
              найсмачніше морозиво яке я коли-небудь куштувала! Ніжний вершковий
              смак та хрусткий вафельний ріжок неймовірно доповнюють один
              одного. 100% рекомендасьйон.
            </p>
          </li>
          <li class="customer-card__item">
            <p class="customer-card__data">Наталія, Київ</p>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="customer-card">
          <li class="customer-card__item">
            <img
              class="customer-card__foto"
              srcset="
                /src/images/reviews/Vlad_ice.jpg    1x,
                /src/images/reviews/Vlad_ice@2x.jpg 2x
              "
              src="/src/images/reviews/Vlad_ice.jpg"
              alt="foto"
            />
          </li>
          <li class="customer-card__item">
            <p class="customer-card__review">
              <span class="customer-card__high-level">Вирішив </span>
              себе побалувати чимось смачненьким і солоденьким, бо є затятим
              солодкоїжкою, тому й купив собі морозиво "ICE CREAM". Н-н-я-м-м
              така смакота, що я просто не вірю своєму язику!
            </p>
          </li>
          <li class="customer-card__item">
            <p class="customer-card__data">Владислав, Київ</p>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul class="customer-card">
          <li class="customer-card__item">
            <img
              class="customer-card__foto"
              srcset="
                /src/images/reviews/vitalii.jpg    1x,
                /src/images/reviews/vitalii@2x.jpg 2x
              "
              src="/src/images/reviews/vitalii.jpg"
              alt="foto"
            />
          </li>
          <li class="customer-card__item">
            <p class="customer-card__review">
              <span class="customer-card__high-level">Взагалі-то, </span>я не
              великий фанат солодкого. Але ваше морозиво змінило мої погляди,
              тепер я найбільший в світі фанат шоколадного морозива і ваш
              постійний покупець!
            </p>
          </li>
          <li class="customer-card__item">
            <p class="customer-card__data">Віталій, Дніпро</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</article>
