body.modal-open {
    overflow: hidden;
}
.about {
    background-color: $background-lightpink;
    padding-top: 60px;
    padding-bottom: 0;
}
.about__container {
    @media screen and (min-width: 1200px) {

        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        
        background-image:
            url(../images/about/milk-d.png);
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url(../images/about/milk-d-@2x.png);
        }
    }
}
.about__lable {
    font-family: $brand-font;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        font-size: 26px;
        line-height: 1.15;
    }  
    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.13;
    }
    color: $secondary-title-color;

    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }

}
.about__title {
    font-family: $brand-font;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        font-size: 48px;
        line-height: 1.15;
    }    
    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 1.14;
    }

    color: $accent-color;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        margin-bottom: 40px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 60px;
    }
}
.about__content {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    @media screen and (min-width: 1200px) {
        align-items: center;
    }
}
.about__img-thumb {
    margin-bottom: 40px;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        margin-right: 32px;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 99px;
        margin-bottom: 0;
    }
}
.img {
    @media screen and (max-width: 767.98px) {
        width: 280px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        min-width: 336px;
    }
    @media screen and (min-width: 1200px) {
        min-width: 501px;
    }
}

.about__thumb {

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        padding-right: 2px;
    }
    @media screen and (min-width: 1200px) {
        padding-right: 105px;
    }
}
.about__div {
    @media screen and (min-width: 320px) and (max-width: 767.98px) {
        padding-right: 60px;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $background-lightpink;
                
        background-image:
            url(../images/about/milk-m.png);
                
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url(../images/about/milk-m-@2x.png);
        }
        
    }
}
.about__text {
    display: block;
    font-family: $primary-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: $secondary-text-color;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        font-size: 14px;
        line-height: 1.79;
        letter-spacing: 0.04em;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.93;
        letter-spacing: 0.04em;
    }

}
.about__text--dark {
    color: $default-text-color;
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 176%;
    }
}
.about__text--margin-bottom {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 32px;
    }
}
.about__text--margin-between {
    margin-bottom: 15px;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 25px;
    }
}
.button {
    display: flex;
    align-items: center;

    font-family: $primary-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.3;
    }

    color: $accent-color;
    
    cursor: pointer;
    background-color: $background-white;
    border: none;
    outline: none;
    border-radius: 22px;
        
    min-width: 176px;
    min-height: 44px;
    padding: 10px 37px;
    margin-top: 20px;
    @media screen and (min-width: 768px) {
        margin-top: 40px;
    }

    display: block;
            
    &:hover,
    &:focus {
        background-color: $btn-hover;
    }
}
.button__text {
    margin-right: 14px;
}
.button__icon {
    width: 6.43px;
    height: 10px;
}

.backdrop {
    position: fixed;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    transition: visibility 450ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.modal {
    position: relative;
    max-width: 320px;
    height: 100%;

    padding: 30px;
        background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
    background-color: $background-lightpink;
        background-image:
            linear-gradient(to right,
                rgba(255,
                    245,
                    246, 0.4),
                rgba(255,
                    245,
                    246, 0.4)),
            url(../images/about/milk-m.png);
        
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    url(../images/about/milk-m-@2x.png);
            }
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
        transform: scale(0.9);
    }

    overflow-y: scroll;
}

.modal__btn {
    position: absolute;

    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    padding: 0;
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.modal__btn-icon {
    fill: $secondary-title-color;
    stroke: $secondary-title-color;
    
    .modal__btn:hover &,
    .modal__btn:focus & {
        fill: $hover-color;
        stroke: $hover-color;
    }
}
.modal__content {
        display: block;
            font-family: $primary-font;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.58;
            color: $secondary-text-color;
}
.modal__lable {
    font-family: $brand-font;
        font-size: 14px;
        line-height: 1.12;
        text-align: center;
        text-transform: uppercase;
    
        color: $secondary-title-color;
        margin-bottom: 8px;
}
.modal__title {
        font-family: $brand-font;
            font-size: 20px;
            line-height: 1.12;
            text-align: center;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            margin-bottom: 25px;
        
            color: $accent-color;
}
.modal__thumb {
    margin-bottom: 20px;

 /*   background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $background-lightpink;*/

   /* background-image:
        url(../images/about/milk-m.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:
            url(../images/about/milk-m-@2x.png);
    }*/
}

.modal__text {
    display: block;
    font-family: $primary-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: $secondary-text-color;
    margin-bottom: 15px;
}

.modal__text--dark {
    color: $default-text-color;
}

.modal__text--margin-bottom {
    margin-bottom: 20px;
}
