body.modal-open {
    overflow: hidden;
}
.about {
    background-color: $background-lightpink;
    padding-top: 60px;
    padding-bottom: 0;
}
.about__container {
    @media screen and (min-width: 1200px) {

        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        
        background-image:
            url(../images/about/milk-d.png);
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url(../images/about/milk-d-@2x.png);
        }
    }
}
.about__lable {
    font-family: $brand-font;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        font-size: 26px;
        line-height: 1.15;
    }  
    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.13;
    }
    color: $secondary-title-color;

    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }

}
.about__title {
    font-family: $brand-font;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        font-size: 48px;
        line-height: 1.15;
    }    
    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 1.14;
    }

    color: $accent-color;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        margin-bottom: 40px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 60px;
    }
}
.about__content {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    @media screen and (min-width: 1200px) {
        align-items: center;
    }
}
.about__img-thumb {
    margin-bottom: 40px;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        margin-right: 32px;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 99px;
        margin-bottom: 0;
    }
}
.img {
    @media screen and (max-width: 767.98px) {
        width: 280px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        min-width: 336px;
    }
    @media screen and (min-width: 1200px) {
        min-width: 501px;
    }
}

.about__thumb {

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        padding-right: 2px;
    }
    @media screen and (min-width: 1200px) {
        padding-right: 105px;
    }
}
.about__div {
    @media screen and (min-width: 320px) and (max-width: 767.98px) {
        padding-right: 60px;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $background-lightpink;
                
        background-image:
            url(../images/about/milk-m.png);
                
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url(../images/about/milk-m-@2x.png);
        }
        
    }
}
.about__text {
    display: block;
    font-family: $primary-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: $secondary-text-color;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        font-size: 14px;
        line-height: 1.79;
        letter-spacing: 0.04em;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.93;
        letter-spacing: 0.04em;
    }

}
.about__text--dark {
    color: $default-text-color;
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 176%;
    }
}
.about__text--margin-bottom {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 32px;
    }
}
.about__text--margin-between {
    margin-bottom: 15px;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 25px;
    }
}
.about-button {
 //   display: flex;
 //   align-items: center;

 /*   font-family: $primary-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.3;
    }

    color: $accent-color;
  */  
  /*  cursor: pointer;
    background-color: $background-white;
    border: none;
    outline: none;
    border-radius: 22px;
  */      
    min-width: 176px;
    min-height: 44px;
//    padding: 10px 37px;
    margin-top: 20px;
    @media screen and (min-width: 768px) {
        margin-top: 40px;
    }
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buynow-button {
    min-width: 160px;
    min-height: 44px;
    margin-top: 20px;
        
    @media screen and (min-width: 768px) {
        margin-top: 40px;
    }
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
    position: fixed;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    transition: 
    opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}
.backdrop--no-bg {
    background: none;
}

.modal {
    position: relative;
    max-width: 450px;
    height: 100%;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        max-width: 528px;
        max-height: 90%;
    }
    @media screen and (min-width: 1200px) {
        position: absolute;
        top: 50%;
        left: 50%;
        
        max-width: 528px;
        max-height: 680px;
        transform: translate(-50%, -50%);
    }

    padding: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $background-lightpink;
    background-image:
        linear-gradient(to right,
            rgba(255, 245, 246, 0.4),
            rgba(255, 245, 246, 0.4)),
            url(../images/about/milk-m.png);
        
    @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
        background-image:
            linear-gradient(to right,
                rgba(255, 245, 246, 0.4),
                rgba(255, 245, 246, 0.4)),
            url(../images/about/milk-m-@2x.png);
        }
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    overflow-y: scroll;
}

.modal__btn {
    position: absolute;

    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    padding: 0;
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.modal__btn-icon {
    fill: $secondary-title-color;
    stroke: $secondary-title-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .modal__btn:hover &,
    .modal__btn:focus & {
        fill: $hover-color;
        stroke: $hover-color;
    }
}
.modal__content {
    display: block;
    font-family: $primary-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: $secondary-text-color;
}
.modal__lable {
    font-family: $brand-font;
    font-size: 14px;
    line-height: 1.12;
    text-align: center;
    text-transform: uppercase;
    
    color: $secondary-title-color;
    margin-bottom: 8px;
}
.modal__title {
    font-family: $brand-font;
    font-size: 20px;
    line-height: 1.12;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 25px;
        
    color: $accent-color;
}
.modal__thumb {
    margin-bottom: 20px;
}

.modal__text {
    display: block;
    font-family: $primary-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: $secondary-text-color;
    margin-bottom: 15px;
}

.modal__text--dark {
    color: $default-text-color;
}

.modal__text--margin-bottom {
    margin-bottom: 20px;
}
.modal-form {
    &__thumb {
        display: block;
        font-family: $primary-font;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.58;
        color: $secondary-text-color;
    }

    &__pre-title {
        font-family: $brand-font;
        font-size: 14px;
        line-height: 1.12;
        text-align: center;
        text-transform: uppercase;
    
        color: $secondary-title-color;
        margin-bottom: 8px;
    }
    &__title {
        font-family: $brand-font;
        font-size: 20px;
        line-height: 1.12;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 25px;
    
        color: $accent-color;
    }

    &__text {
        display: block;
        font-family: $primary-font;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.58;
        color: $secondary-text-color;
        margin-bottom: 7px;
    }

    &__input {
        font-family: $primary-font;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.58;
        color: $secondary-text-color;
        height: 40px;
        width: 100%;
        border: 1px solid $btn-hover;
        border-radius: 24px;
        outline: transparent;
        padding-left: 16px;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__textarea {
        font-family: $primary-font;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.58;
        color: $secondary-text-color;
        border: 1px solid $btn-hover;
        border-radius: 24px;
        height: 80px;

        padding: 12px 16px;
        resize: vertical;
        outline: transparent;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

/*    &__check {
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-bottom: 31px;
    
        
    }

    &__check-input {
        position: absolute;
    }

    &__check-box {
        width: 16px;
        height: 15px;
        border: 2px solid grey;
        border-radius: 2px;
        background-color: white;

        margin-right: 7px;

        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__check-box:focus,
    &__check-box:hover {
        border: 2px solid blue;
        cursor: pointer;
    }

    &__check-input:checked+.modal-form__check-box {
        border: 0.1em solid blue;
        background-color: blue;
    }

    &__check-icon {
        position: absolute;

        fill: white;
    }

    &__check-link {
        color: blue;
    }*/
}

.modal-form__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.input:hover,
.input:focus {
    border-color: $hover-color;
    cursor: pointer;
}

/*.modal-form__icon {
    position: absolute;
    top: 11px;
    left: 12px;
    fill: var(--dark-grey);

    transition: fill $transitionLinks;

    .input:hover+&,
    .input:focus+& {
        fill: var(--hover-blue);
        cursor: pointer;
    }
}*/
