.section-advantages {
  @media screen and (max-width: 767.98px) {
    padding-top: 40px;
  }

  background-color: $background-lightpink;
}

.advantages-list {
  @media screen and (max-width: 767.98px) {
    &__item {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  text-align: center;

  &__title {
    font-family: $brand-font;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $title-text-color;
    margin-bottom: 30px;
  }

  &__text {
    @media screen and (max-width: 767.98px) {
      max-width: 230px;
    }

    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    color: $default-text-color;
    margin: auto;
  }
}

.milk-logo::before {
  content: '';
  display: block;
  background-image: url(../images/advantages/advantage-icon1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
}

.fruits-logo::before {
  content: '';
  display: block;
  background-image: url(../images/advantages/advantage-icon2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
}

.heart-logo::before {
  content: '';
  display: block;
  background-image: url(../images/advantages/advantage-icon3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 44px;
  height: 50px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
}

// Tablet
@media screen and (min-width: 768px) {
  .section-advantages {
    padding-top: 60px;
  }

  .advantages-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -32px;
    max-width: 1199px;

    &__item {
      max-width: 180px;
      flex-basis: calc((100% - 3 * 10px) / 3);
      margin-left: 32px;
    }

    &__title {
      font-size: 48px;
      line-height: 1.15;
    }

    &__text {
      font-size: 14px;
      line-height: 1.71;
    }
  }
}

// Desktop
@media screen and (min-width: 1200px) {

  .advantages-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -16px;

    &__item {
      max-width: 280px;
      flex-basis: calc((100% - 3 * 32px) / 3);
      margin-left: 16px;
    }

    &__title {
      font-size: 58px;
      line-height: 1.15;
    }

    &__text {
      font-size: 16px;
      line-height: 1.71;
    }
  }
}