.ice-cream-btn {
  display: flex;
  align-items: center;

  font-family: $primary-font;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;

  color: $primary-text-color;

  cursor: pointer;
  background-color: $accent-color;
  border: none;
  outline: none;
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;
  height: 24px;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $btn-hover;
  }

  @include mq(desktop) {
    height: 40px;
    font-size: 14px;
    line-height: 1.29;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.ice-cream-btn--secondary {
  color: $accent-color;
  background-color: $background-white;
}
