.contacts-section {
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    $background-white 20%,
    $background-lightpink 20%,
    $background-lightpink 100%
  );

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    background-image: linear-gradient(
      to bottom,
      $background-white 44%,
      $background-lightpink 44%,
      $background-lightpink 100%
    );
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
      to bottom,
      $background-white 15%,
      $background-lightpink 15%,
      $background-lightpink 100%
    );
  }
}

.contacts {
  @media screen  and (max-width: 767.98px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    margin: -16px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin: -16px;
  }
}

.contacts__item {
  padding: 40px 32px;
  
  width: 100%;
  background: $background-white;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child){
    margin-bottom: 20px;
  }

  &:hover,
  &:focus {
    box-shadow: 1px 1px $background-header-pink, 2px 2px $background-header-pink,
      3px 3px $background-header-pink, 4px 4px $background-header-pink,
      5px 5px $background-header-pink, 6px 6px $background-header-pink,
      7px 7px $background-header-pink;
    -webkit-transform: translateX(-7px);
    transform: scale(-7px);
  }

  @media screen and (max-width: 767.98px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 32px) / 3);
    margin: 16px;
  }

  @media screen and (min-width: 1200px) {
    padding: 40px;
  }
}

.category__name {
  display: block;
  margin-bottom: 20px;
  width: 80px;

  text-align: center;
  align-items: center;
  background: #f0d1a5;
  border-radius: 4px;

  font-family: $primary-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  
  letter-spacing: 0.04em;
  text-transform: uppercase;
  
  color: $primary-text-color;  

  &--green {
    width: 130px;
    background: #c2e297;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 16px;
  }
}


.location__name {
  margin-bottom: 8px;

  font-family: $primary-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  letter-spacing: 0.04em;

  color: $default-text-color;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    font-size: 14px;
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.location__description {
  padding-right: 25px;

  font-family: $primary-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: $secondary-text-color;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    font-size: 14px;
    padding-right: 0px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    padding-right: 30px;
  }
}

.location__item,
.schedule{
  position: relative;
  margin-bottom: 48px;

  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
  }
}

.location__item::after,
.schedule::after {
  content: '';
  position: absolute;
  bottom: -24px;
  border: 1px solid $footer-line-color;
  background-color: $footer-line-color;

  display: block;
  width: 100%;

  @media screen and (min-width: 768px) {
    bottom: -32px;
  }
}

.weekday-schedule__item {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}

.weekday-schedule__days,
.day-of-schedule__days {
  font-family: $primary-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  color: $default-text-color;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.day-of-schedule__time,
.weekday-schedule__time {
  font-family: $primary-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  color: $secondary-title-color;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contact-details__link {
  text-decoration: none;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: $secondary-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contact-btn {
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 161px;
  min-height: 44px;
  border-radius: 22px;
  border: none;

  align-items: center;
  text-align: center;

  font-family: $primary-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  cursor: pointer;
}

.contacts-btns {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
}

.contacts-btns__item:not(:last-child){
  margin-bottom: 10px;
}

.locations-btn {
  display: flex;
  align-items: center;
  background: #d41342;

  text-align: center;

  color: $primary-text-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $hover-color;
  }

  @media screen and (min-width: 768px) {
    margin: 0px 15px 0px 0px;
    min-width: 191px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 198px;
  }
}

.franchise-btn {
  display: flex;
  align-items: center;
  background: $background-white;

  color: $accent-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $btn-hover;
  }

  @media screen and (min-width: 768px) {
    margin: 0px;
    min-width: 171px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 168px;
  }
}

.location-btn__name {
  margin-right: 8px;
}

.franchise-btn__name {
  margin-right: 13px;
}

.location-btn__icon {
  fill: $primary-text-color;
}

.franchise-btn__icon {
  fill: #d41342;
}

// Modal form location

.locations-backdrop {
  transition: opacity 450ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;

  visibility: visible;
  transition: visibility 450ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.locations-modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 35px 20px;

  max-width: 300px;
  max-height: calc(100vh - 30px);

  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  overflow-y: scroll;

  background-color: $background-lightpink;
  background-image: linear-gradient(to right,
      rgba(255, 245, 246, 0.4),
      rgba(255, 245, 246, 0.4));

  transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1), opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    max-width: 500px;
  }

}

.locations-backdrop.is-hidden .locations-modal {
  transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
}

.locations-backdrop .locations-modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.locations-modal__btn {
  position: absolute;

  top: 15px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  background-color: transparent;

  padding: 0;
  border: none;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.locations-modal__btn-icon {
  fill: $secondary-title-color;
  stroke: $secondary-title-color;

  .locations-modal__btn:hover &,
  .locations-modal__btn:focus & {
    fill: $hover-color;
    stroke: $hover-color;
  }
}

.location-modal__title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: $title-text-color;

  font-family: $primary-font;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.31;
}

.location-modal__map {
  display: block;
  width: 95%;
  height: 300px;
  margin: 0 auto;

  border: none;

  @media screen and (min-width:768px){
    max-width: 500px;
  }
}

// Modal form franchise

.contacts-backdrop {
  transition: opacity 450ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;

  visibility: visible;
  transition: visibility 450ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.contacts-modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 35px 20px;

  max-width: 300px;
  max-height: calc(100vh - 30px);

  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  overflow-y: scroll;

  background-color: $background-lightpink;
  background-image: linear-gradient(
    to right,
    rgba(255, 245, 246, 0.4),
    rgba(255, 245, 246, 0.4)
  );

  transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    max-width: 550px;
  }
}

.contacts-backdrop.is-hidden .contacts-modal {
  transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
}

.contacts-backdrop .contacts-modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.contacts-modal .franchise-modal-form__group {
  position: relative;
  padding-top: 10px;
}

.contact-modal__btn {
  position: absolute;

  top: 15px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;

  padding: 0;
  border: none;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-modal__btn-icon {
  fill: $secondary-title-color;
  stroke: $secondary-title-color;

  .contact-modal__btn:hover &,
  .contact-modal__btn:focus & {
    fill: $hover-color;
    stroke: $hover-color;
  }
}

.franchise-form-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  color: $title-text-color;

  font-family: $primary-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}

.franchise-modal-form-data {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.franchise-modal-form__group,
.franchise-modal-form__policy-group {
  display: block;
  margin-bottom: 10px;
}

.franchise-modal-form__group {
  position: relative;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

.franchise-modal-form__label {
  position: absolute;
  top: 0;
  left: 15px;

  display: block;

  font-family: $primary-font;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.58;
  color: $secondary-text-color;

  transform: translateY(20px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.franchise-modal-form__input:focus + .franchise-modal-form__label,
.franchise-modal-form__input:not(:placeholder-shown)
  + .franchise-modal-form__label {
  transform: translateY(-7px);
  color: $title-text-color;

  @media screen and (min-width: 768px) {
    transform: translateY(-12px);
  }
}

.franchise-modal-form__input {
  font-family: $primary-font;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.58;
  color: $secondary-text-color;
  height: 36px;
  width: 100%;
  border: 1px solid $btn-hover;
  border-radius: 24px;
  outline: transparent;
  padding-left: 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:not(:placeholder-shown) {
    border: 1px solid $hover-color;
  }

  &::placeholder {
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus::placeholder {
    opacity: 1;
  }
}

.franchise-textarea__group {
  display: block;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.franchise-modal-form__message {
  position: relative;
  width: 100%;
  resize: none;

  border: 1px solid $btn-hover;
  border-radius: 24px;
  outline: transparent;
  padding-left: 16px;
  padding-top: 7px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: $primary-font;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.58;
  color: $secondary-text-color;

  &:focus,
  &:not(:placeholder-shown) {
    border: 1px solid $hover-color;
  }

  &::placeholder {
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus::placeholder {
    opacity: 1;
  }

  @media screen and (min-width: 768px) {
    max-width: 400px;
  }
}

.franchise-modal-form__label--textarea {
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 70px;
  }
}

.franchise-modal-form__message:focus + .franchise-modal-form__label,
.franchise-modal-form__message:not(:placeholder-shown)
  + .franchise-modal-form__label {
  transform: translateY(-17px);
  color: $title-text-color;

  @media screen and (min-width: 768px) {
    transform: translateY(-20px);
  }
}

.franchise-modal-form__custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 9px;

  min-width: 12px;
  min-height: 12px;

  border-radius: 2px;
  outline: 2px solid $background-header-pink;
  outline-offset: -2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .franchise-modal-form__checkbox:checked + & {
    background-color: $hover-color;
    outline: $hover-color;
  }
}

.franchise-modal-form__custom-checkbox-icon {
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: $primary-text-color;
}

.franchise-modal-form__checkbox:checked
  + .franchise-modal-form__custom-checkbox
  .franchise-modal-form__custom-checkbox-icon {
  opacity: 1;
}

.franchise-modal-form__policy-group {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}

.franchise-modal-form__policy-desc {
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.franchise-modal-form__policy-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $accent-color;
}

.franchise-modal-form__submit-btn {
  background: #d41342;
  color: $primary-text-color;
  font-size: 14px;

  &:hover,
  &:focus {
    background-color: $hover-color;
  }
}
