.header {
  background-color: $background-header-pink;

  &__item {
    display: flex;

    padding-top: 8px;
    // padding-bottom: 5px;
   
    
    @media screen and (min-width: 768px) {
      padding-top: 32px;
          
    }
    @media screen and (min-width: 1200px) {
      padding-top: 37px;
      align-items: center;
      
    }
  }

  &__buttons {
    margin-left: auto;
    display: flex;

    @media screen and(min-width:768px) {
      align-items: baseline;
    }

   
  }

  &__menu {
    @media screen and (max-width: 1199px) {
    padding-top: 15px;

    width: 100%;
    height: 100%;

    background-color: $background-color-menu;

    position: fixed;
    top: 0;
    right: 0;

    transform: translateX(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    z-index: 5;

    @media screen and (min-width: 768px) {
      width: 254px;
      
    }
        }

    
  }

  &__menu.is-open {
    transform: translateX(0%);
  }



  &__inner {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;

    @media screen and (min-width: 1200px) {
        display: none;
      }

  }
}

.menu-button {
  margin-left: auto;

  background: transparent;
  border: none;

  cursor: pointer;

  @media screen and (min-width: 1200px) {
      display: none;
    }

 &__open {
  padding-left: 0;
  padding-right: 0;
  @media screen and (min-width: 768px) {
      margin-right: 32px;
    }
 }

  &__close {
    margin-bottom: 21px;
    margin-right: 20px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover .menu-button__burger,
    &:focus .menu-button__burger {
      fill: $title-text-color;
      stroke: $title-text-color;
    }
  }

  &__burger {
    fill: $primary-text-color;
    stroke: $primary-text-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: $title-text-color;
      stroke: $title-text-color;
    }
  }

  &__buy {
    width: 209px;
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and(min-width: 768px) {
      max-width: 186px;
    }

    &--table {
      @media screen and (max-width:767px) {
        display: none;
      }
      margin-bottom: 0;
    }
  }
}

.nav {
  @media screen and (min-width: 1200px) {
    margin-left: 128px;

      display: flex;
      // flex-direction: row;
      position: relative;
      z-index: 5;
    
    }
}

.nav__list {
  @media screen and (max-width: 1199px) {
  display: block;
  
  border-top: 1px solid $border-menu-color;

  &:last-child {
    border-bottom: 1px solid $border-menu-color;
  }
}
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 35px;
    }
    
  }
 
}

.nav__link {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: $primary-text-color;

  display: block;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $title-text-color;
  }

  &--selection {
    color: $title-text-color;
  }

  @media screen and(min-width: 1200px) {
    padding-left: 0;
    font-size: 16px;
    line-height: 1.3;
  }
}

.hero {
  height: 439px;

  background-color: $background-header-pink;

  overflow: hidden;

  @media screen and (min-width: 768px) {
    height: 326px;
    overflow: visible;
  // padding-top: 20px;

  @media screen and (min-width: 1200px) {
    height: 573px

  }
  }

  &__container {
    // margin-top: -20px;
    padding-top: 131px;
    position: relative;
    height: 100%;

    @media screen and (min-width: 768px) {
      padding-top: 22px;
      
    }
    @media screen and (min-width: 1200px) {
      padding-top: 76px;
      
    }
    
  }

  &__circle {
    width: 346px;
    height: 344px;

    border-radius: 50%;

    background-color: $secondary-title-color;

    position: absolute;
    top: 20px;
    left: 11.25%;

    overflow: visible;

    @media screen and (min-width: 768px) {
      width: 335px;
      height: 333px;


      top: -44px;
      left: 240px;

    @media screen and (min-width: 1200px) {
      width: 534px;
      height: 534px;

      top: -40px;
      left: 530px;

      
    }


    }

   
  }

  &__image {
    position: absolute;

    top: 9px;
    left: 81px;

    @media screen and (min-width: 768px) {
      top: 34px;
        left: 74px;
    }

    @media screen and (min-width: 1200px) {
      top: 56px;
      left: 119px;
    }
  }

  &__space {
  margin-bottom: 61px;

    position: relative;
    z-index: 2;

    @media screen and (min-width: 1200px) {
      margin-bottom: 108px;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-family: $brand-font;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;

    color: $primary-text-color;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 22px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 24px;
      font-size: 38px;
    }



    &--accent {
      font-size: 48px;
      line-height: 0.97;

      color: $title-text-color;

      @media screen and (min-width: 768px) {
          font-size: 34px;
          line-height: 0.91;
        }
      @media screen and (min-width: 1200px) {
         font-size: 58px;
    }
    }
  }

  &__button {
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 9px;
    padding-bottom: 9px;

    font-size: 8px;
    line-height: 1.25;

    background-color: $title-text-color;
    border-radius: 20px;
    border: none;

    cursor: pointer;

    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, &:focus {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }



  }


  &__button--secondly {
    background-color: $primary-text-color;
  }

  &__button > a {
    text-decoration: none;
    color: $primary-text-color;
  }
  &__button--secondly > a {
    color: $title-text-color;

   
  }

 &__milk {
  @media screen and (max-width: 767px) {
    display: none;
  }

  position: absolute;
    // top: 136px;
    bottom: 16px;
    left: 32px;

    @media screen and (min-width: 1200px) {
      bottom: 60px;
    
      left: 16px;
    }
 }

 &__text {

  @media screen and (max-width: 767px) {
    display: none;
  }
  margin-left: 152px;

  font-size: 8px;
  line-height: 1.5;
  font-weight: 400;
  
  color: $background-white;

  @media screen and (min-width: 1200px) {
    margin-left: 213px;
    font-size: 14px;
    line-height: 1.4;
  }

  // position: absolute;
  // left: 184px;
  // top: 187px;
position: relative;
  z-index: 4;

  &-inner {
    margin-bottom: 7px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;
    }
  }
 }

 &__text-button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    
    display: flex;
    align-items: center;
    justify-content: center;


    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      &:hover,
      &:focus {
        transform: scale(1.1);
      }

      @media screen and (min-width: 1200px) {
        width: 26px;
        height: 26px;
      }
 }

   &__girl {
    @media screen and (max-width: 767px) {
      display: none;
    }

  position: absolute;
  right: 32px;
  bottom: 0;
 

  @media screen and (min-width: 1200px) {
    right: 10px;
    
  }
}

  &__franchise {
    @media screen and (max-width: 767px) {
        display: none;
      }
    position: absolute;
    top: 14px;
    right: 42px;

    @media screen and (min-width: 1200px) {
      top: 76px;
      right: 30px;
    }
  }

  &__franchise-cafes {
  width: 43px;
  height: 42px;

  display: flex;
  flex-direction: column;

  position: relative;

  &:first-child {
    margin-bottom: 17px;
  }

  @media screen and (min-width: 1200px) {
    width: 74px;
    height: 71px;

    &:first-child {
        margin-bottom: 18px;
      }
  }

 }

  &__franchise-title {
    font-family: Titan One, cursive;
    font-size: 28px;
    line-height: 1.145;
    letter-spacing: 4%;

    text-align: right;

    color: $accent-color;

    z-index: 2;

    @media screen and (min-width: 1200px) {
      font-size: 46px;
    }
  }

    &__franchise-text {
      text-align: right;
      font-size: 8px;
      line-height: 1.25;
      color: $background-white;

      @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.3;
      }
    }

    &-franchise-circle {
      width: 16px;
      height: 16px;
      border-radius: 50%;

      background-color:$background-white;

      position: absolute;
      top: 0px;
      right: -10px;

      @media screen and(min-width: 1200px) {
        width: 30px;
        height: 30px;

        right: -18px;
        top: -4px;

      }
    }

}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
 

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
  z-index: 3;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.1);
  }


}

.text-hidden {
  display: none;
}

.icon-hidden {
  display: none;
}
