.section--padding-top {
    padding-top: 60px;
}
.section__subtitle {
    font-family: $brand-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-title-color;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
       font-size: 26px;
       line-height: 1.15;
       margin-bottom: 18px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
        margin-bottom: 16px;
    }
}
.section__title {
    font-family: $brand-font;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $title-text-color;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        font-size: 48px;
        line-height: 1.15;
    }
    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;
    }
    &--mardgin {
       margin-bottom: 148px;

       @media screen and (min-width: 768px) {
           margin-bottom: 158px;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 261px;
        }
    }
}
.products {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}
.products__item {
    position: relative;
    width: 100%;
    border-radius: 24px;
    padding: 160px 40px 40px;
    text-align: center;

    @media screen and (min-width: 380px) and (max-width: 767.98px) {
        width: 340px;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        flex-basis: calc((100% - 32px) / 3);
        padding: 118px 32px 40px;
        &:not(:last-child) {
            margin-right: 16px;
        }
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 64px) / 3);
        padding: 165px 63px 60px;
        &:not(:last-child) {
            margin-right: 32px;
        }
    }
    & + & {
        @media screen and (max-width: 767.98px) {
           margin-top: 140px;
        }
    }
    &--pink, .products-box--pink {
        background-color: $background-header-pink;
    }
    &--peach, .products-box--peach {
        background-color: #F0D1A5;
    }
    &--mint, .products-box--mint {
        background-color: #C2E297;
    }
}
.products__thumb-overlay {
    margin-bottom: 32px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 60px;
    }
}
.products__item--pink::before {
    content: " ";
    background-image: url(../images/products/products1.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    background-size: contain;
    height: 280px;
    width: 280px;
    top: -140px;
    right: 50%;
    transform: translateX(50%);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images//products/products1-2x.png);
    }
    @media screen and (min-width: 768px) {
        height: 224px;
        width: 224px;
        top: -138px;
        background-image: url(../images/products/products1-t.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images//products/products1-t-2x.png);
        }
    }
    @media screen and (min-width: 1200px) {
        height: 394px;
        width: 368px;
        top: -261px;
        background-image: url(../images/products/products1-d.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images//products/products1-d-2x.png);
        }
    }
}
.products__item--peach::before {
    content: " ";
    background-image: url(../images/products/products2.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    background-size: contain;
    height: 280px;
    width: 280px;
    top: -140px;
    right: 50%;
    transform: translateX(50%);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images//products/products2-2x.png);
    }
    @media screen and (min-width: 768px) {
        height: 224px;
        width: 224px;
        top: -138px;
        background-image: url(../images/products/products2-t.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images//products/products2-t-2x.png);
        }
    }
    @media screen and (min-width: 1200px) {
        height: 394px;
        width: 368px;
        top: -261px;
        background-image: url(../images/products/products2-d.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images//products/products2-d-2x.png);
        }
    }
}
.products__item--mint::before {
    content: " ";
    background-image: url(../images/products/products3.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    background-size: contain;
    height: 280px;
    width: 280px;
    top: -140px;
    right: 50%;
    transform: translateX(50%);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images//products/products3-2x.png);
    }
    @media screen and (min-width: 768px) {
        height: 224px;
        width: 224px;
        top: -138px;
        background-image: url(../images/products/products3-t.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images//products/products3-t-2x.png);
        }
    }
    @media screen and (min-width: 1200px) {
        height: 394px;
        width: 368px;
        top: -261px;
        background-image: url(../images/products/products3-d.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images//products/products3-d-2x.png);
        }
    }
}
.products__title {
    font-family: $brand-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-text-color;
    margin-bottom: 70px;
    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.13;
    }
    &::after {
        content: " ";
        background-image: url(../images/products/dots.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 26px;
        height: 6px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 215px;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images//products/dots-2x.png);
        }
        @media screen and (min-width: 768px) {
            top: 173px;
        }
        @media screen and (min-width: 1200px) {
            top: 231px;
        }
    }
}
.products__text {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: $primary-text-color;
    
    @media screen and (min-width: 768px) {
        line-height: 1.76;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
}
.products__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    background-color: $background-white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.5, 1, 0.89, 1);
    &:hover,
    &:focus {
       background-color: $btn-hover ;
    }
}
.products-box {
    padding-top: 32px;
    @media screen and (max-width: 767.98px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: none;
        position: absolute;
        opacity: 0;
        left: 0;
    }
}
.products-box__item {
    @media screen and (min-width: 768px) {
        margin-bottom: 2px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
    &:last-child {
        margin-bottom: 0;
        @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 10px;
        }
    }
}
.products-box.is-open {
    @media screen and (max-width: 767.98px) {
        display: block;
        margin-bottom: 32px;
    }
    @media screen and (min-width: 768px) {
        display: block;
        width: 100%;
        opacity: 1;  
        transform: translateY(-92%);
    }
    @media screen and (min-width: 1200px) {
        width: 100%;
        transform: translateY(-85%);
        opacity: 1;  
    }
}
.products__icon {
    display: block;
    border-radius: 50%;
    fill: $accent-color;
    animation: btnAnim 4s cubic-bezier(0.5, 1, 0.89, 1) 0s infinite reverse both;
}
.products__icon-up {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}
.products__icon-down {
    display: block;
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.products__btn.is-open .products__icon-up {
    display: block;
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.products__btn.is-open .products__icon-down {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}
.products-box__title {
    font-family: $brand-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-text-color;
    margin-bottom: 70px;
    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.13;
    }
    &::after {
        content: " ";
        background-image: url(../images/products/dots.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 26px;
        height: 6px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: 295px;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images//products/dots-2x.png);
        }
        @media screen and (min-width: 768px) {
            top: 87px;
        }
        @media screen and (min-width: 1200px) {
            top: 97px;
        }
    }
}
.products-box__text {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: $primary-text-color;
    @media screen and (min-width: 768px) {
        line-height: 1.7;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.6;
    }
}
@keyframes btn-anim {
    0% {
      transform: rotate(30deg);
    }
    5% {
      transform: rotate(-30deg);
    }
    10% {
      transform: rotate(15deg);
    }
    14% {
      transform: rotate(-15deg);
    }
    18% {
      transform: rotate(0);
    }
}
.scroll-btn {

    position: fixed;
    bottom: 50px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    background-color: $background-mobile;
    z-index: 3;
    animation: btn-anim 6s ease-in-out infinite forwards;
    transition: background-color 250ms cubic-bezier(0.5, 1, 0.89, 1);
    &:hover,
    &:focus {
       background-color: $background-header-pink ;
    }
}
.scroll-btn__svg {
    fill: $background-white;
}
