.section--padding-top {
    padding-top: 60px;
}
.section__subtitle {
    font-family: $brand-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;

    color: $secondary-title-color;
    margin-bottom: 15px;
}

.section__title {
    font-family: $brand-font;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $title-text-color;
    &--mardgin {
       margin-bottom: 8px;
    }
}
.products {
    padding-top: 140px;
}
.products__item {
    position: relative;
    flex-basis: 100%;
    border-radius: 24px;
    padding: 160px 40px 40px;
    text-align: center;
    & + & {
        margin-top: 140px;
    }
    &--pink {
        background-color: $background-header-pink;
        &::before {
            content: " ";
            background-image: url(../images/products/products1.png);
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            background-size: contain;
            height: 280px;
            width: 100%;
            bottom: 353px;
            left: 0;
            
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
             background-image: url(../images//products/products1-2x.png);
            }
        }
    }
    &--pich {
        background-color: #F0D1A5;
        &::before {
            content: " ";
            background-image: url(../images/products/products2.png);
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            background-size: contain;
            height: 280px;
            width: 100%;
            bottom: 353px;
            left: 0;
            
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
             background-image: url(../images//products/products2-2x.png);
            }
        }
    }
    &--mint {
        background-color: #C2E297;
        &::before {
            content: " ";
            background-image: url(../images/products/products3.png);
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            background-size: contain;
            height: 280px;
            width: 100%;
            bottom: 353px;
            left: 0;
            
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
             background-image: url(../images//products/products3-2x.png);
            }
        }
    }
}
.products__title {
    font-family: $brand-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-text-color;
    &::after {
        content: " ";
        background-image: url(../images/products/dots.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 26px;
        height: 6px;
        margin: 32px auto;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images//products/dots-2x.png);
        }
    }
}

.products__text {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: $primary-text-color;
    margin-bottom: 32px;
}

.products__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    background-color: $background-white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: scale(1);
    &:hover,
    &:focus {
       transform: scale(1.1);
    }
}

.products__icon {
    display: block;
    border-radius: 50%;
    fill: $accent-color
}
.products-box {
    display: none;
}
.products-box.is-open {
    display: block;
    margin-bottom: 32px;
}
.products-box__item {
    margin-bottom: 8px;
    &:last-child {
        margin-bottom: 0;
    }
}
.products-box__title {
    font-family: $brand-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-text-color;
    
    &::after {
        content: " ";
        background-image: url(../images/products/dots.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 26px;
        height: 6px;
        margin: 32px auto;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images//products/dots-2x.png);
        }
    }

}
.products-box__text {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: $primary-text-color;
   
}