.section--padding-top{
    padding-top: 60px;
}

.mySwiper, 
.swiper-slide, 
.swiper-wrapper {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.customer-card{
    
    margin-bottom: 16px;
    @media screen and (min-width:768px){
    margin-bottom: 32px;
}
}

.customer-card__item{
   height: auto;
   margin: 0;
   padding: 0;
}

.customer-card__item:nth-child(1){
    
    margin-bottom: 30px;
    @media screen and (min-width:768px){
        margin-bottom: 20px;
    }
}

.customer-card__foto{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 85px;
    height: 85px;
}
.customer-card__item:nth-child(2){
    background-color: $review-card-bg-color;

    min-height: 138px;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 43px;
    padding-bottom: 17px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 18px;

    box-shadow: 10px 10px 8px -8px rgba(0, 0, 0, 0.3);

    @media screen and (min-width: 480px){
        width: 440px;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (min-width: 768px) {
        width: 620px;
        padding: 20px 6px 36px;
    };
    @media screen and (min-width: 1200px) {
        width: 968px;
        padding: 44px 74px 32px
    };

}
.customer-card__review{
    position: relative;

    padding-left: 12px;
    padding-right: 12px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.58;
    text-align: center;

    font-family: $review-font;

    color: $default-text-color;

    background-image: repeating-linear-gradient(
    to top,
    $footer-line-color,
    $review-card-bg-color 1px,
    $review-card-bg-color 31px,
    $footer-line-color 1px 
);

@media screen and (min-width:768px) {
    padding-left: 47px;
    padding-right: 47px;

    font-size: 14px;
    line-height: 2.2;
    text-align: center;
    letter-spacing: 0.04em;
}

    &::before{
        content: '';
        position: absolute;
        top: -13px;
        left: 0;
                     
        width: 54px;
        height: 40px;
        background-size: contain;
        background-image: url('/src/images/reviews/“.png');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-image: url('/src/images/reviews/“@2x.png');
        }

        @media screen and (min-width:768px) and (max-width: 1199.98px) {
            width: 60px;
            height: 40px;
            top: -17px;
            background-size: contain;
            background-image: url('/src/images/reviews/“-tablet.png');
    
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx){
                background-image: url('/src/images/reviews/“-tablet@2x.png');
            } 
        }
    }
}
.customer-card__high-level{
    position: relative;
}

.customer-card__data{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    font-family: $review-font;

    color: $default-text-color;
    
    &::before{
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
        width: 32px;
        height: 4px;
        background-size: contain;
        background-image: url('/src/images/reviews/markers.png');
        background-repeat: no-repeat;
    }

    @media screen and (min-width:768px) {
        font-size: 20px;
        line-height: 1.86;
    }
}

.swiper-pagination{
    position: static; 
    margin-left: auto;
    margin-right: auto;
 
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 9px;
}
.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    transform: translateX(0%);
    }    

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    opacity: 1;
   
    background-color: $pagination-bg-color;
}
.swiper-pagination-bullet-active{
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.24 5.775a.578.578 0 0 0-.049-.834L6.651.16a.698.698 0 0 0-.9.01L.193 5.196a.574.574 0 0 0-.027.833l.14.143c.23.238.604.266.834.063l.415-.367v5.373a.6.6 0 0 0 .605.596h2.166a.6.6 0 0 0 .605-.596V7.482h2.764v3.759c-.005.33.234.596.568.596h2.296a.6.6 0 0 0 .604-.596V5.944l.257.222c.141.122.438.024.662-.22l.158-.17Z' fill='%23D31342'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0;
}
